<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/Style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <title>Cliente</title>
    <link rel="icon" type="image/x-icon" href="/img/icono.ico">
</head>



<body>

    <header class="header bg-light">
        <img src="/img/cafe de mi tierra 3.png" style="width:290px;height:100px;">
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <nav class="navbar navbar-expand-sm bg-light justify-content-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/quienesSomos">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productos">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cliente">Cliente</a>
                        </li>
                        <!--li class="nav-item">
                            <a class="nav-link" href="prueba.html">Prueba</a>
                        </!--li-->
                    </ul>
                </div>
            </nav>
        </nav>
    </header>

    <div class="cuerpo1">
        <main class="main-content">

            <fieldset>
                <legend>Clientes</legend>

                <table>

                    <tr>
                        <th colspan="1"><label for="NumeroDocumento">Numero de Documento</label></th>
                        <th colspan="1"><label for="TipoDocumento">Tipo de Documento</label></th>
                        <th colspan="1"><label for="Nombres">Nombres</label></th>
                        <th colspan="1"><label for="Ciudad">Ciudad</label></th>
                        <th colspan="1"><label for="Email">Correo Electronico</label></th>
                        <th colspan="1"><label for="Telefono">Telefono</label></th>
                        <th colspan="1"><label for="Observacion">Observacion</label></th>
                    </tr>
                    <tr>
                        <td style="padding: 10px">14138400</td>
                        <td style="padding: 10px">CC</td>
                        <td style="padding: 10px">carlos vivas</td>
                        <td style="padding: 10px" ><label>Ibagué</label></td>
                        <td style="padding: 10px">carlos@gmail.com</td>
                        <td style="padding: 10px">3002094300</td>
                        <td style="padding: 10px">premium</td>                                               
                    </tr>
                    
                    <tr>
                        <td style="padding: 10px">1197470000</td>
                        <td style="padding: 10px">CC</td>
                        <td style="padding: 10px">daniel ramirez</td>
                        <td style="padding: 10px" ><label>Ibagué</label></td>
                        <td style="padding: 10px">daniel@gmail.com</td>
                        <td style="padding: 10px">6082705826</td>
                        <td style="padding: 10px">premium</td>                                               
                    </tr>
                    
                    <tr>
                        <td style="padding: 10px">1107990000</td>
                        <td style="padding: 10px">CC</td>
                        <td style="padding: 10px">ana maria rivas</td>
                        <td style="padding: 10px" ><label>Bogota</label></td>
                        <td style="padding: 10px">ana@gmail.com</td>
                        <td style="padding: 10px">3003010074</td>
                        <td style="padding: 10px">premium</td>                                               
                    </tr>
                    
                    <tr>
                        <td style="padding: 10px">38223200</td>
                        <td style="padding: 10px">CC</td>
                        <td style="padding: 10px">paco perez</td>
                        <td style="padding: 10px" ><label>Bogota</label></td>
                        <td style="padding: 10px">paco@gmail.com</td>
                        <td style="padding: 10px">3142646880</td>
                        <td style="padding: 10px">premium</td>                                               
                    </tr>
                    
                    <tr>
                        <td style="padding: 10px">38223300</td>
                        <td style="padding: 10px">CC</td>
                        <td style="padding: 10px">rosita rosales</td>
                        <td style="padding: 10px" ><label>Neiva</label></td>
                        <td style="padding: 10px">rosita@gmail.com</td>
                        <td style="padding: 10px">3053320856</td>
                        <td style="padding: 10px">premium</td>                                               
                    </tr>
                </table>
        </main>
    </div>

    <br>
    <br>
    <footer class="footer">
        <p> @copyright Café de mi Tierra </p>
    </footer>


</body>

</html>